@import url(./layout_base.css);

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Noto+Sans+KR&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  width: 100%;
  font-size: 16px;
  height: 100%;
  color: #1c1c1c;
  white-space: normal;
  word-break: normal;
  word-wrap: break-word;
  line-height: 1;
  letter-spacing: -1px;
}

.lexend {
  font-family: "Lexend Deca", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:focus {
  color: #1c1c1c;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
img {
  border: none;
  vertical-align: middle;
}
.hdd,
legend {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.box_inner {
  width: 100%;
  margin: 0 auto;
}
input,
select,
textarea,
button,
form,
lable {
  vertical-align: middle;
}
fieldset {
  border: none;
}
/*제목*/
.main {
  display: block;
  background: url(/dessert39/images/background.jpg);
  height: 185px;
  width: 100%;
}
.main > .text {
  padding: 110px 200px 0 200px;
  height: 101px;
  width: 100%;
}
.main > .text > .kor {
  font-size: 26px;
}
.main > .text > .beverage {
  margin-top: 15px;
  font-size: 60px;
}
/*추천베스트메뉴*/
/*공통*/
.explain > div {
  position: relative;
}
.explain .mainName {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin: 120px auto 0 auto;
}
.explain .box {
  position: absolute;
  z-index: -100;
  background-color: #ececec;
  height: 20px;
  width: 450px;
  margin: -15px 0 0 0%;
  left: 35%;
}
.recommend3040,
.recommend4050,
.recommendProm {
  display: none;
}

.explain .recImg {
  position: relative;
  width: 1000px;
  margin: -200px auto 0 auto;
}
.explain .recImg li {
  float: left;
  width: 200px;
  position: relative;
  text-align: center;
  margin: 40px 30px 0 30px;
}
.explain .recImg li:first-child {
  margin-left: 0;
}
.explain .recImg li:last-child {
  margin-right: 0;
}

.explain .recImg li:before {
  content: "";
  position: absolute; /*부모 요소에는 position: relative를 주어야 함*/
  background-color: #1c1c1c;
  height: 1.6px;
  width: 0; /*초기에 보이지 않도록*/
  bottom: -5px; /*a태그 아래에 위치*/
  transition: 0.8s; /*애니메이션 동작 실행 시간 정의*/
}

.explain .recImg li:hover:before {
  width: 100%;
}
.explain .recImg li .recommendImg {
  width: 200px;
  height: 200px;
  background-color: #f3f4f5;
  border-radius: 50%;
  margin-bottom: 30px;
}
.explain .recImg li .recommendImg:hover {
  animation: target_image 0.8s;

  animation-iteration-count: 1;

  transform-origin: 50% 50%;
}

@keyframes target_image {
  0% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.explain .underBar {
  height: 35px;
  margin: 0 auto;
  padding-top: 50px;
}
.explain .underBar .left,
.explain .underBar .right {
  height: 35px;
  width: 35px;
}
.explain .underBar .bar {
  height: 35px;
  width: 1000px;
  margin: 0 100px 0 100px;
}

.promotion .taPro {
  width: 1500px;
  height: 350px;
  margin: 50px auto 200px auto;
  text-align: center;
}
.promotion .tr1stPro {
  height: 330px;
}
.promotion .tr1stPro > td:nth-child(odd) > a > img {
  width: 35px;
  height: 35px;
}
.promotion .tdProImg {
  padding: 0 70px;
}
.promotion .tdProImg li > img {
  float: left;
  width: 565px;
  height: 318px;
  position: relative;
  text-align: center;
  margin: 0 0 0 2%;
}
.promotion .taPro .tr2ndPro .bar > img {
  height: 35px;
  width: 80%;
  padding: 0 20px 0 20px;
  margin: 0 50px 0 50px;
}

/*음료*/
.explain .taRec {
  text-align: center;
  width: 1000px;
  height: 55px;
  margin: 50px auto;
  overflow: hidden;
}
.explain .tdRec {
  display: inline-flex;
  margin-right: 25px;
  border-radius: 50px;
  height: 55px;
  border: 1px solid #1c1c1c;
  background-color: white;
  text-align: justify;
}
.explain .taRec .trRec .tdRec button {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  height: 45px;
  border: 1px solid #1c1c1c;
  background-color: white;
}
.explain .taRec .trRec .tdRec :hover {
  cursor: pointer;
}

.recommend {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 25px;
}
.recommend:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.recommend:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 9px;
  top: 9px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 25px;
}
.recommend:hover {
  color: #fff;
  border-radius: 25px;
}
.recommend:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 25px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
  border-radius: 25px;
}
.blob-btn__blob {
  position: absolute;
  top: 6px;
  width: 25%;
  height: 100%;
  background: #1c1c1c;
  color: white;
  border-radius: 25px;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
    border-radius: 25px;
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
  border-radius: 25px;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
  border-radius: 25px;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
  border-radius: 25px;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
  border-radius: 25px;
}
.recommend:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
  border-radius: 25px;
}
@supports (filter: url("#goo")) {
  .recommend:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
    border-radius: 25px;
  }
}

/*디저트*/
.explain .deRecImg {
  margin: 60px 300px;
}

/*회색배경*/
/*공통*/
.grey {
  position: relative;
  background-color: #fafbfc;
  padding: 50px 0 70px 0;
}
.grey .beverageMenu .menuTitle {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin: 120px auto 0 auto;
}

.grey .box {
  position: absolute;
  z-index: -100;
  background-color: #ececec;
  height: 20px;
  width: 450px;
  margin: -15px 38% 0 38%;
}
.grey .beverageMenu > p {
  font-size: 18px;
  text-align: center;
  margin: 30px 0;
}
.grey .beverageMenu .taMenu {
  margin: 40px auto 0 auto;
  text-align: center;
}
.grey .beverageMenu .taMenu li {
  display: inline-flex;
  width: 143px;
  height: 143px;
  border: 3px solid black;
  text-align: center;
  padding-top: 18px;
  margin: 0 2% 0 0;
  font-weight: 700;
}
.grey .beverageMenu .taMenu a {
  width: 143px;
  height: 143px;
}
.grey .beverageMenu .taMenu .menuImg {
  height: 56px;
}
.grey .beverageMenu .taMenu p {
  margin: 20px 0 0 0;
}
.grey .beverageMenu .taMenu li:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}
.grey .beverageMenu .taMenu li:hover img {
  filter: invert(100%);
}
.grey .beverageMenu .taMenu li:hover a {
  color: white;
}

.grey > .mainMenu > .menuList {
  width: 95%;
  margin: 0 auto;
  text-align: left;
  border-spacing: 20px;
}
.grey > .mainMenu > .menuList img {
  width: 170px;
  height: 170px;
}
.grey .mainMenu .menuList .liMenuList {
  display: inline-flex;
  background-color: white;
  width: 264px;
  height: 376px;
  font-size: 18px;
  font-weight: 300;
  box-sizing: border-box;
  box-shadow: rgba(38, 38, 38, 0.094) 0 0 20px 0;
  border-radius: 10px;
  line-height: 20px;
  letter-spacing: -0.7px;
  word-spacing: 0;
  margin: 10px;
  padding-top: 15px;
}
.grey .mainMenu .menuList .liMenuList ul {
  margin: 0 auto;
  text-align: center;
  width: 220px;
}

.grey .mainMenu .menuList .liMenuList .name {
  font-size: 20px;
  font-weight: 700;
  margin: 15px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grey .mainMenu .menuList .liMenuList .price {
  margin-top: 8px;
}
.grey .mainMenu .menuList .liMenuList .more {
  border: 2px solid;
  font-size: 14px;
  font-weight: 600;
  width: 110px;
  height: 32px;
  border-radius: 25px;
  margin: 20px auto 0 auto;
  padding: 5px 0 2px 0;
}
.grey .mainMenu .menuList .liMenuList .more:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

.grey .mainMenu .menuList .liMenuList .more a:hover {
  color: white;
}

/*음료*/
#coffee > p:first-child,
#yogurt > p:first-child,
#tea > p:first-child,
#godprice > p:first-child,
#cheesepromage > p:first-child,
#protein > p:first-child {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
}
#coffee > p:nth-child(2),
#yogurt > p:nth-child(2),
#tea > p:nth-child(2),
#godprice > p:nth-child(2),
#cheesepromage > p:nth-child(2),
#protein > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #999999;
  margin: 25px 0 50px 0;
}

/*디저트*/
#cake > p:first-child,
#bingsu > p:first-child,
#macaron > p:first-child,
#cookie > p:first-child,
#bakery > p:first-child,
#tokyoroll > p:first-child {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 80px 0 40px 0;
}

/*자세히보기*/
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  /* 숨기기 */
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.window {
  position: relative;
  width: 100%;
  height: 100%;
}

.popup {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f8f9fa;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  border-radius: 25px;

  /* 임시 지정 */
  width: 544px;
  height: 650px;

  /* 초기에 약간 아래에 배치 */
  transform: translate(-50%, -40%);
}

.popup .moreImg {
  width: 310px;
  height: 310px;
  margin: 0 117px;
  padding-bottom: 25px;
}

.popup .text {
  padding: 25px;
  background-color: white;
  height: 315px;
  border-radius: 0 0 25px 25px;
}

.popup .text p {
  text-align: center;
  padding-bottom: 25px;
}

.popup .text .moName {
  font-size: 26px;
  font-weight: 700;
  line-height: 36.4px;
  letter-spacing: -1.3px;
  padding-top: 25px;
}
.popup .text .moSize {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 18px;
}
.popup .text .moExplain {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 26px;
}
.popup .text .moPrice {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -1.1px;
  padding-bottom: 0;
}

.show .popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  padding-top: 25px;
}

.close {
  margin: 50px 0 0 480px;
  cursor: pointer;
}
.close img {
  width: 40px;
  height: 40px;
}
.quick {
  position: fixed;
  top: 171px;
  right: 0;
  width: 94px;
  z-index: 100;
}
.quick > .quick_list > li {
  background-color: #c0c0c0;
  font-size: 15px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
  padding-top: 8px;
  box-shadow: 2px 2px 2px 2px #c2c2c3;
}
.quick > .quick_list > li > a {
  text-align: center;
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.quick > .quick_list > li > a > img {
  width: 23px;
  height: 23px;
  max-width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.quick > .quick_list > li:last-child > a > img {
  filter: invert(100%);
}
.quick > .quick_list > li > a > p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.5px;
  line-height: 14px;
  margin-top: 5px;
}

footer {
  background-color: #f3f4f5;
}
footer > .foot_area {
  position: relative;
  padding-bottom: 40px;
  height: 184.2px;
}
footer > .foot_area > .foot_list {
  padding-top: 25px;
  left: 250px;
  top: 20px;
  position: absolute;
}

footer .logoText {
  margin: 40px auto auto 60px;
  width: 100px;
  height: 40.55px;
}

.foot_list li {
  display: flex;
  margin: 0 0 5px 0;
}

.foot_list li .footTitle {
  margin: 0 10px 0 0;
}
.footTitle::after {
  content: "";
  width: 1.5px;
  height: 50%;
  border-right: 1px solid #1c1c1c;
  position: absolute;
  top: 6px;
  right: -12px;
}
.footTitle {
  font-weight: 600;
  position: relative;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 20.8px;
}
.footEx {
  margin-left: 10px;
  font-size: 16px;
  line-height: 20.8px;
  word-break: normal;
  letter-spacing: 0.5px;
}

footer .mailIcon {
  width: 24px;
  height: 16.2125px;
}
footer > .foot_area > .contactMail {
  right: 50px;
  top: 60px;
  position: absolute;
}
footer > .foot_area > .contactMail > .contact {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 40px;
  text-align: right;
  height: 40px;

  margin: 0 0 15px 0;
  display: block;
}
footer > .foot_area > .contactMail > .mailAddress {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 16px;
  text-align: right;
  display: inline;
  cursor: pointer;
}
footer > .copy {
  padding: 22px 38px 22px 38px;
  border-top: 1px solid #c2c2c3;
  height: 64.5px;
  display: block;
  font-size: 15px;
  letter-spacing: -0.5px;
  text-align: center;
}
footer > .copy > a {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.5px;
  line-height: 12px;
  margin-left: 5px;
  cursor: pointer;
  display: inline;
}
/* ----------- 모바일 반응형 시작 -----------*/
@media screen and (max-width: 426px) {
  /*제목*/

  .main > .text {
    padding: 135px 20px 0 20px;
  }
  .main > .text > .kor {
    font-size: 18px;
    margin-bottom: -10px;
  }
  .main > .text > .beverage {
    font-size: 45px;
    font-weight: 600;
  }
  /*추천베스트메뉴*/
  /*공통*/
  .explain .mainName {
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
  }
  .explain .box {
    height: 10px;
    width: 220px;
    margin: -20px -110px 0 -110px;
    left: 50%;
  }

  .explain .recImg {
    width: 400px;
    overflow: hidden;
  }
  .explain .recImg li {
    float: left;
    width: 80px;
    margin: 0 10px;
    text-align: center;
  }

  .explain .recImg li:before {
    display: none;
  }

  .explain .recImg li .recommendImg {
    width: 160px;
    height: 160px;
  }
  .explain .recImg li .recommendImg:hover {
    pointer-events: none;
  }
  .explain .underBar {
    height: 20px;
  }
  .explain .underBar .left,
  .explain .underBar .right {
    height: 20px;
    width: 20px;
    margin: 5px;
  }
  .explain .underBar .bar {
    width: 300px;
    margin: 0 20px 0 20px;
  }

  .promotion .taPro {
    width: 400px;
  }
  .promotion .tr1stPro {
    height: 200px;
  }
  .promotion .tr1stPro > td:nth-child(odd) > a > img {
    width: 20px;
    height: 20px;
  }
  .promotion .tdProImg {
    padding: 0 10px;
  }
  .promotion .tdProImg li > img {
    width: 250px;
  }
  .promotion .taPro .tr2ndPro .bar > img {
    height: 35px;
    width: 95%;
    margin: 0 30px;
  }

  /*음료*/
  .explain .taRec {
    text-align: center;
    width: 460px;
    height: 120px;
    margin: 40px auto;
    overflow: hidden;
  }
  .explain .taRec span {
    display: none;
  }
  .explain .tdRec {
    display: inline-flex;
    margin-right: 25px;
    border-radius: 50px;
    width: 190px;
    height: 35px;
    border: 1px solid #1c1c1c;
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
  }
  .explain .taRec .trRec .tdRec button {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    height: 50px;
    border: 1px solid #1c1c1c;
    background-color: white;
    text-align: center;
  }

  .recommend {
    z-index: 1;
    position: relative;
    padding: 5px 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 50px;
  }
  .recommend:before {
    pointer-events: none;
  }
  .recommend:after {
    pointer-events: none;
  }
  .recommend:hover {
    pointer-events: none;
  }
  .recommend:hover:after {
    pointer-events: none;
  }
  .blob-btn__inner {
    display: none;
  }

  /*디저트*/
  .explain .deRecImg {
    margin: 60px 300px;
  }

  /*회색배경*/
  /*공통*/
  .grey {
    padding-bottom: 70px;
  }
  .grey .beverageMenu .menuTitle {
    font-size: 30px;
    font-weight: 900;
    margin: 20px auto 0 auto;
  }

  .grey .box {
    position: absolute;
    z-index: -100;
    background-color: #ececec;
    height: 10px;
    width: 220px;
    margin: -20px -110px 0 -110px;
    left: 50%;
  }
  .grey .beverageMenu > p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0 20px 0;
  }
  .grey .beverageMenu .taMenu {
    margin: 0 auto;
    border-spacing: 10px;
  }
  .grey .beverageMenu .taMenu li {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    margin: 5px 2% 0 0;
    font-weight: 600;
    font-size: 13px;
  }
  .grey .beverageMenu .taMenu a {
    width: 100px;
    height: 100px;
  }
  .grey .beverageMenu .taMenu .menuImg {
    height: 30px;
    margin-bottom: -5px;
  }
  .grey .beverageMenu .taMenu p {
    line-height: 18px;
    margin: 12px 0 0 0;
  }

  .grey > .mainMenu > .menuList {
    width: 95%;
    margin: 0 auto;
    text-align: left;
    border-spacing: 20px;
  }
  .grey > .mainMenu > .menuList img {
    width: 120px;
    height: 120px;
    margin: -5px;
  }
  .grey .mainMenu .menuList .liMenuList {
    display: inline-flex;
    background-color: white;
    width: 190px;
    height: 270px;
    font-size: 13px;
    font-weight: 300;
    box-sizing: border-box;
    box-shadow: rgba(38, 38, 38, 0.094) 0 0 20px 0;
    border-radius: 10px;
    line-height: 20px;
    letter-spacing: -0.7px;
    word-spacing: 0;
    margin: 5px;
  }
  .grey .mainMenu .menuList .liMenuList .name {
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0;
  }
  .grey .mainMenu .menuList .liMenuList .size {
    margin-top: -7px;
  }
  .grey .mainMenu .menuList .liMenuList .price {
    margin-top: 0;
  }
  .grey .mainMenu .menuList .liMenuList .more {
    border: 2px solid;
    font-size: 13.5px;
    font-weight: 600;
    width: 90px;
    height: 32px;
    border-radius: 25px;
    margin: 10px auto 0 auto;
    padding: 5px 0 0 0;
  }

  /*음료*/
  #coffee > p:first-child,
  #yogurt > p:first-child,
  #tea > p:first-child,
  #godprice > p:first-child,
  #cheesepromage > p:first-child,
  #protein > p:first-child {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
  }
  #coffee > p:nth-child(2),
  #yogurt > p:nth-child(2),
  #tea > p:nth-child(2),
  #godprice > p:nth-child(2),
  #cheesepromage > p:nth-child(2),
  #protein > p:nth-child(2) {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #999999;
    margin: 15px 0 15px 0;
  }

  /*디저트*/
  #cake > p:first-child,
  #bingsu > p:first-child,
  #macaron > p:first-child,
  #cookie > p:first-child,
  #bakery > p:first-child,
  #tokyoroll > p:first-child {
    font-size: 26px;
    font-weight: 800;
    text-align: center;
    margin: 80px 0 40px 0;
  }
  .quick {
    position: fixed;
    z-index: 100;
    top: 660px;
    right: 105px;
    width: 94px;
    z-index: 100;
  }
  .quick .spread {
    display: none;
  }
  .quick > .quick_list > li {
    height: 50px;
    width: 50px;
  }
  .quick > .quick_list > li > a {
    text-align: center;
    height: 70px;
    width: 70px;
  }
  .quick > .quick_list > li > a > img {
    width: 18px;
    height: 18px;
  }
  .quick > .quick_list > li:last-child > a > img {
    filter: invert(100%);
  }
  .quick > .quick_list > li > a > p {
    font-size: 12px;
    margin-top: 0;
  }

  footer {
    background-color: #f3f4f5;
  }
  footer > .foot_area {
    position: relative;
    padding-bottom: 40px;
    height: 280px;
    text-align: center;
  }
  footer > .foot_area > .foot_list {
    padding-top: 25px;
    left: 0;
    top: 50px;
    position: absolute;
    text-align: center;
  }

  footer .logoText {
    margin: 20px auto auto auto;
    width: 80px;
    height: 40.55px;
  }

  .foot_list li {
    display: inline-flex;
    margin: 0 0 5px 0;
    text-align: center;
  }

  .foot_list li .footTitle {
    margin: 0 5px 0 0;
  }
  .footTitle::after {
    content: "";
    width: 1.5px;
    height: 50%;
    border-right: 1px solid #1c1c1c;
    position: absolute;
    top: 6px;
    right: -8.5px;
  }
  .footTitle {
    font-weight: 600;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.5px;
    line-height: 20.8px;
  }
  .footEx {
    margin-left: 10px;
    font-size: 12px;
    line-height: 20.8px;
    word-break: normal;
    letter-spacing: 0.5px;
  }

  footer .mailIcon {
    width: 18px;
    height: 16.2125px;
    margin-right: 5px;
  }
  footer > .foot_area > .contactMail {
    left: 0;
    top: 180px;
    position: absolute;
    text-align: center;
  }
  footer > .foot_area > .contactMail > .contact {
    display: inline-flex;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -1.5px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 400px;
    margin: 0 auto 5px 160px;
  }
  footer > .foot_area > .contactMail > .mailAddress {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-align: center;
    display: inline;

    margin-left: 40px;
  }
  footer > .copy {
    font-size: 13px;
  }
  footer > .copy > a {
    font-weight: 600;
    font-size: 11px;
    margin: 8px 0 0 0;

    display: block;
  }
}
/* ----------- 모바일 반응형 끝 -----------*/
